.App-Listado 
{
  border: 1px solid black;
  width: 500px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
}


.App-Listado .form-item
{
  padding: 5px 2px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.App-Listado .form-item:hover
{
  background-color: #ccc;
}

.input-ele {
  display: inline-block;
  width: 70%;
  float: left;
}

.input-ele input {
  display: block;
  width: 100%;
}


.actions-button {
  width: 20%; 
}

.actions-button a {
  border: 1px solid black;
  padding: 3px 5px;
}
